html {
	color: rgb(83, 212, 32);
	font-family: Consolas, Lucida Console;
	text-align: center;
}

a {
	color: rgb(83, 212, 32);
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(14, 14, 14);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  left: 0;
  top: 0;
  z-index: -1;
  margin: 0;
}

.particles-js-canvas-el {
	display: block;
	vertical-align: bottom;
	width: 100%; height: 100%;
}

.bordered {
	border: 2px solid rgb(83, 212, 32);
	font-size: 18px;
	width: 70%;
	margin: 0 auto;
}